<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>学生管理系统</title>
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="student manage system" />
    <meta name="keywords" content="student manage system 学生 管理 系统" />
    <meta name="author" content="liuchunhui" />

    {% block head %} {% end %}
</head>
<body>
<content>
    {% block header %} {% end %}
    {% block body %}{% end %}
</content>
<!--<footer>-->
    <!--{% block footer %} {% end %}-->
<!--</footer>-->
{% block foot %}{% end %}
</body>
</html>
