{% block head %}
<link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}">
<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">
<!--<link rel="stylesheet" href="{{static_url('css/bootstrap-switch.min.css')}}" >-->
<!--<link rel="stylesheet" href="{{static_url('css/bootstrap-datetimepicker.min.css')}}">-->
<link rel="stylesheet" href="{{static_url('css/minos.css')}}">
<link rel="stylesheet" href="{{static_url('css/comment.css')}}">
<link rel="stylesheet" href="{{static_url('css/dataTables.bootstrap.min.css')}}">

<script src="{{static_url('js/lib/jquery.min.js')}}"></script>
<script src="{{static_url('js/lib/minos.js')}}"></script>
<!--<script src="{{static_url('js/lib/bootstrap-datetimepicker.js')}}"></script>-->
<script src="{{static_url('js/lib/bootstrap.min.js')}}"></script>
<!--<script src="{{static_url('js/lib/bootstrap-switch.min.js')}}"></script>-->
<script src="{{static_url('js/lib/angular.min.js')}}"></script>
<script src="{{static_url('js/lib/angular-ui-router.min.js')}}"></script>
<!--<script src="{{static_url('js/lib/ui-bootstrap-tpls-0.13.4.min.js')}}"></script>-->
<script src="{{static_url('js/lib/angular-animate.js')}}" defer></script>
<script src="{{static_url('js/lib/highstock.js')}}"></script>
<script src="{{static_url('js/lib/jquery.dataTables.min.js')}}"></script>
<script src="{{static_url('js/common.js')}}"></script>
<script src="{{static_url('js/lib/dataTables.bootstrap.min.js')}}"></script>
{% end %}