<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Pids 平台</title>
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %} {% end %}
    </head>
    <body class="mainbkgrd-color">
        <content>
            {% block header %} {% end %}
            {% block body %}{% end %}
        </content>
        <footer>
            {% block scroll %} {% end %}
        </footer>
    </body>
</html>
